@use "../../../../../styles/mixins.scss" as *;

.navCat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5dvh 2.5dvw 5dvh 2.5dvw;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 8px var(--ButtonBorder);
    border-radius: 25px;
    overflow: hidden;

    @include respond-to-h(lg){
        padding: 7.5dvh 3.5dvw 7.5dvh 3.5dvw;
    }
    @include respond-to-h(md){
        padding: 7.5dvh 3.5dvw 7.5dvh 3.5dvw;
    }
    @include respond-to-h(mdt){
        padding: 5dvh 3.5dvw 5dvh 3.5dvw;
    }
    @include respond-to-h(sm){
        padding: 7.5dvh 3.5dvw 7.5dvh 3.5dvw;
    }
    @include respond-to-h(xs){
        padding: 12.5dvh 5dvw 5dvh 5dvw;
    }
    @include respond-to-h(xxs){
        padding: 12.5dvh 5dvw 5dvh 5dvw;
    }
    @include respond-to-v(s){
        padding: 7.5dvh 2.5dvw 2.5dvh 2.5dvw;
    }
    @include respond-to-v(sm){
        padding: 7.5dvh 2.5dvw 2.5dvh 2.5dvw;
    }
    @include respond-to-v(xs){
        padding: 7.5dvh 2.5dvw 2.5dvh 2.5dvw;
    }
    .bodyCat{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.2rem;
        flex-direction: column;
        .linkContainerCat{
            width: fit-content;
            height: fit-content;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .category__nav__item__container{
                width: fit-content;
                height: fit-content;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                border: 1px solid var(--ButtonBorder);
                border-radius: 25px;
            
                .category__nav__item{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.15rem 0.25dvw 0.15rem 1.5dvw;
                    border-radius: 25px;
                    background-color: var(--WhiteBg);
                    cursor: pointer;
                    gap: 2.5rem;

                    transition: all 0.25 cubic-bezier(0.24, 0, 0.76, 1);

                    &.active{
                        background-color: var(--CharcoalBg);

                        p{
                            color: var(--Wtext)
                        }     
                    }
                    p{
                        font-size: 1.2rem;
                        color: var(--ChText);

                        @include respond-to-h(md){
                            font-size: 1.1rem;
                        }
                        @include respond-to-h(mdt){
                            font-size: 1.1rem;
                        }
                        @include respond-to-h(sm){
                            font-size: 1.05rem;
                        }
                        @include respond-to-h(xs){
                            font-size: 1.05rem;
                        }
                        @include respond-to-h(xxs){
                            font-size: 1rem;
                        }
                        @include respond-to-v(md){
                            font-size: 1.1rem;
                        }
                        @include respond-to-v(s){
                            font-size: 1.1rem;
                        }
                        @include respond-to-v(sm){
                            font-size: 1.1rem;
                        }
                        @include respond-to-v(xs){
                            font-size: 1rem;
                        }
                    }
                    .category__icon{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid var(--ButtonBorder);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        pointer-events: none;
                    }
                }

                .category__nav__item__subcategories{
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .subcategoryButton{
                        padding: 0.25rem 1rem;
                        margin: 0.5rem;
                        background-color: var(--CreamDetails);
                        border-radius: 25px;

                        transition: all 0.25 cubic-bezier(0.24, 0, 0.76, 1);
                        .p{
                            font-size: 1rem;
                            font-weight: 300;
                            font-family: "Sansation-Light";
                            margin: 0;

                            @include respond-to-h(md){
                                font-size: 0.95rem;
                            }
                            @include respond-to-h(mdt){
                                font-size: 0.95rem;
                            }
                            @include respond-to-h(sm){
                                font-size: 0.9rem;
                            }
                            @include respond-to-h(xs){
                                font-size: 0.9rem;
                            }
                            @include respond-to-h(xxs){
                                font-size: 0.9rem;
                            }
                            @include respond-to-v(md){
                                font-size: 1rem;
                            }
                            @include respond-to-v(s){
                                font-size: 1rem;
                            }
                            @include respond-to-v(sm){
                                font-size: 1rem;
                            }
                            @include respond-to-v(xs){
                                font-size: 0.95rem;
                            }
                        }

                        &.active{
                            background-color: var(--CharcoalBg);

                            p{
                                color: var(--Wtext)
                            } 
                        }
                    }
                }
            }
        }
    }
}